{% extends 'auth_base.html' %}

{% block body %}


<style>
    .reset-btn {
        background-color: #007bff; 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        font-size: 16px;
        cursor: pointer; 
        transition: background-color 0.3s ease-in-out;
    }

    .reset-btn:hover {
        background-color: #0056b3;
    }
</style>




        <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="user-form-logo">
                            <a href="index.html"><img src="{{ company_data.logo.url }}" alt="logo"></a>
                        </div>
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>worried?</h2>
                                <p>No Problem! Just Follow The Simple Way</p>
                            </div>




                            <form method="POST" class="user-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <br>
                                <button type="submit" class="reset-btn">Send Reset Link</button>
                            </form>
                            



                            {% comment %} <form class="user-form">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                </div>
                                <div class="form-button">
                                    <button type="submit">get reset link</button>
                                </div>
                            </form> {% endcomment %}
                        </div>
                        <div class="user-form-remind">
                            <p>Go Back To<a href="{% url 'userauths:sign-in' %}">login here</a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    USER FORM PART END
        =======================================-->
{% endblock body %}
