{% extends 'auth_base.html' %}

{% block body %}
        <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="user-form-logo">
                            <a href="index.html"><img src="{{ company_data.logo.url }}" alt="logo"></a>
                        </div>
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>worried?</h2>
                                <p>No Problem! Just Follow The Simple Way</p>
                            </div>


                            <form method="POST">
                                {% csrf_token %}
                                <h2>Set New Password</h2>
                                {{ form.as_p }}
                                <button type="submit">Reset Password</button>
                            </form>
                            


                            {% comment %} <form class="user-form">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                </div>
                                <div class="form-button">
                                    <button type="submit">Reset Password</button>
                                </div>
                            </form> {% endcomment %}
                        </div>
                        <div class="user-form-remind">
                            <p>Go Back To<a href="login.html">login here</a></p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    USER FORM PART END
        =======================================-->
{% endblock body %}
